<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>instagram</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>instagram posts</h1>
   <%for (post of posts){ %>
    <div class="prent">
        <div class="box">
            <img src="<%=post.userimg %>" alt="hell
            ">
            
        </div>
        <h2><%=post.username %></h2>
        <h3><%=post.contant %></h3>
        <!-- <a href="/posts/new">create a new posts</a> -->
    </div>
    <% } %>
    <a href="/posts/new">create a new posts</a>
</body>
</html>